/*
 * Override dc.js default styles for selection
 */

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

text.pie-slice {
  fill: '#ccc' !important;
}

/*
 * Page specific styles
 */

.logo {
        height:50px;
	padding: 5px;
	margin: 5px;
}

.inlinetitle
{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: inline-block;
    vertical-align:top;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;    
}